.nav-bar-block {
	&.dark-text ion-header-bar.bar {

    	transition-duration: 500ms;    
    	transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    	transition-property: color;    

		color: $dark-bar-text;

		button {
			color: $header-icons-color;
			transition-duration: 500ms;    
    		transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    		transition-property: color;   
		}
	}
}
.nav-bar-block.bar-transparent {
	ion-header-bar.bar {
		background-color: rgba(255,255,255,0) !important;
		background-image: none !important;
		border: none;
	}
}
